# Environnement virtuel
venv/
env/

# Fichiers Python inutiles
__pycache__/
*.py[cod]
*$py.class

# Fichiers générés
*.log
*.pot
*.pyc

# Fichiers Jupyter
.ipynb_checkpoints

# Fichiers de config perso
*.env
*.DS_Store
*.swp

# Cache Streamlit
.streamlit/config.toml
.streamlit/*.cache/

# VSCode & PyCharm
.vscode/
.idea/

# OS
Thumbs.db
ehthumbs.db
.DS_Store
